#container {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    padding: 2em;
}
  
#container strong {
    font-size: 17px;
    line-height: 26px;
}
  
    
#titulopage{
    text-align: center;
}
  
#titulo2{
    text-align: center;
}
  
.ion-input{
    width: auto;
}
  
#div_img{
    align-content: center;
}

#imagen{
    width: auto;
    height: 15em;
}