<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Acceso</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="medium">Acceso</ion-title>
    </ion-toolbar>
  </ion-header>
  <div id="container">
    <div id="div_img"><ion-img id="imagen" src="../assets/images/logo.jpg"></ion-img></div><br><br>
    <strong>Ingresa tus credenciales:</strong><br><br>
    <ion-input id="usuario1" label="Usuario" color="light" labelPlacement="stacked" placeholder="Ingresa tu usuario"></ion-input><br>
    <ion-input id="usuario" label="Contraseña" type="password" labelPlacement="stacked" placeholder="Ingresa tu contraseña" color="dark"></ion-input><br><br>
    <ion-button [routerLink]="['/menu']" size="medium" color="primary"><strong>Ingresar</strong></ion-button><br><br>
    <a href="">Olvido su usuario o contraseña?</a><br><br>
    <a href=""><strong>Registrarse</strong></a>
  </div>
</ion-content>
